aiofiles
aiohttp
APScheduler
black
bottle
colorama
colorlog
flake8-docstrings
hypothesis
isort
logging-spinner
markdown
progressbar2
psutil
pypandoc
pytest
pytest-cov
pytest-flake8
pytest-xdist
requests
sh
tqdm>=4.62.0
yaspin
